{% extends "_layout.html.j2" %}
{% block header %}
  <!-- header comment -->
{% endblock %}
{% block content %}
  SOX-Recorder Login

  {% if err_msg %}
    <p>
      {{ err_msg }}
    </p>
  {% endif %}

  <form action="/login" method="POST">
    LoginID=<input type="text" name="login" size="30"><br>
    Password=<input type="password" name="pw" name="pw" size="30"><br>
    <input type="submit" value="Login">
  </form>
{% endblock %}
